
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.list{
    width: 100%;
    height: 100%;
    display: flex;
    font-family: "Inter", sans-serif;
    align-items: center;
    justify-content: center;
    background-color: blueviolet;
}

.list-container{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    background-color: chocolate;
}

.arrow{
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
}


.itself-box{
    display: flex;
    background-color: blue;
    height: 100%;
    width: 80%;
    align-items: center;
    justify-content: space-between;

}

.food-itself{
    list-style-type: none;
    background-color: aqua;
    cursor: pointer;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.image{
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.name{
    background-color: pink;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    line-height: 18px;
}