
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5fr 2fr;
}
.left{
  background-color: blue;
  display: grid;
  grid-template-rows: 4fr 2fr 1fr;
}

.left .top{
background-color: pink;
}

.left .middle{
  background-color: green;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left .bottom{
  background-color: #CDCDCD;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right{
  background-color: red;
}

