.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 5fr 2fr;
}
.left{
  background-color: blue;
  display: grid;
  grid-template-rows: 4fr 2fr 1fr;
}

.left .top{
background-color: pink;
}

.left .middle{
  background-color: green;
}

.left .bottom{
  background-color: #CDCDCD;
}
.right{
  background-color: red;
}

